{% extends 'base.html' %}

{% block main %}
  <br>
  <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
           <h2>
               <i class="fa fa-users" aria-hidden="true" style="font-size:48px;color:blue"></i>
               <a href="{% url 'funcionario_list' %}">Empregados</a>
           </h2>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
           <h2>
               <i class="fa fa-hourglass" aria-hidden="true" style="font-size:48px;color:blue"></i>
                <a href="{% url 'list_hora_extra' %}">Banco de horas</a>
           </h2>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
           <h2>
               <i class="fa fa-book" aria-hidden="true" style="font-size:48px;color:blue"></i>
               <a href="{% url 'list_departamentos' %}">Departamentos</a>
           </h2>
        </div>
    </div>
  </div>
{% endblock %}

